
h1 {
font-style: italic;
  display: flex;
  flex-direction: row;
  background-color: #F4871E;
   color: #FFFFFF;
  padding: 20px 10px 20px 10px;
 border: solid 5px #002D62;
}
header {
  display: flex;
  flex-direction: row;
  color: #F4871E;
}
div{
  font-size: 44px;
  border:  solid #002D62;
  display: flex;
  background-image: clear;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
body{
 background-image: url('https://player.odycdn.com/v6/streams/041b3c6de1734b027c381dffc2d3e64a4b393c6b/26af39.mp4')

 }
.container{
border: #002D62;
display: flex;
flex-direction: row-reverse;
font-family: Times new roman;
justify-content: space-around;
background-color: clear;
}
p {
 color: #F4871E;
 font-style: italic;
 text-align: center;
 padding: 10px 0 20px 20px;
}
img{ 
width: 60%;
}
a {
 font-size: 20px;
 display: flex;
 flex-direction: row;
 border: solid #002D62;
 padding: 10px 10px 10px 10px;
 color: #EB6E1F;
}
button{
  color: #002D62;
}
