
h1 {
font-style: italic;
  display: flex;
  flex-direction: row;
  background-color: #F4871E;
   color: #FFFFFF;
  padding: 20px 10px 20px 10px;
 border: solid 5px #002D62;
}
header {
  display: flex;
  flex-direction: row;
  color: #F4871E;
}
div{
  font-size: 44px;
  border:  solid #002D62;
  display: flex;
  background-image: clear;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
body{
 background-image: url("https://resize.avn.com/eyJidWNrZXQiOiJhdm4taW1hZ2VzIiwia2V5IjoiMjAyMVwvMDRcLzE1XC9PN1h4MFB0UmV5WEpsT0VxTk9WTHJ1M0pDcWpOdVZoUmxmOU5Pb3d3LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MTYwMCwiaGVpZ2h0Ijo5NjAsImZpdCI6Imluc2lkZSIsInBvc2l0aW9uIjoidG9wIn19fQ==")  background-repeat: repeat;
 }
.container{
border: #002D62;
display: flex;
flex-direction: row-reverse;
font-family: Times new roman;
justify-content: space-around;
background-color: clear;
}
p {
 color: #F4871E;
 font-style: italic;
 text-align: center;
 padding: 10px 0 20px 20px;
}
img{ 
width: 100%;
}
a {
 font-size: 20px;
 display: flex;
 flex-direction: row;
 border: solid #002D62;
 padding: 10px 10px 10px 10px;
 color: #EB6E1F;
}
button{
  color: #002D62;
}
